@using CSS.OpusForce.Services.ViewModels;
@model IEnumerable<RoleView>

@{
    ViewBag.Title = "Rol Düzenleme";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<script type="text/javascript">
    $(function () {
        $('form.uniForm').uniform({
            prevent_submit: true
        });
    });
</script>

<div id="header-band" class="bg-blue">    
   @Html.ActionLink("Kullanıcılar", "UserAccountList", "Account", null, new { Class = "btnBack" })
    @Html.ActionLink("Anasayfa", "Index", "Home", null, new { Class = "btnHome" })   
    <div class="ym-wrapper">
        <div class="ym-grid top-35">
            <div class="ym-gl">
                <img alt="OpusForce Logo" src="@Url.Content("~/Content/images/logo.png")" />
            </div>
            <div class="ym-gr">
                @Html.ActionLink("Home", "Index", "Home", null, new { Class = "btnLogin" })
            </div>
        </div> 
    </div>           
</div>
<div class="clearfix"></div>
<div id="main">
    <div class="ym-wrapper">        
        <div class="ym-hlist">
          <ul>
            <li class="active">@Html.ActionLink("Kullanıcılar", "UserAccountList", "Account", null)</li>
            <li>@Html.ActionLink("Roller", "RoleList", "Account", null)</li>
          </ul>
        </div>
        <hr />
        @using (Html.BeginForm(null, null, FormMethod.Post, new { Class="ym-form ym-columnar" }))
        {            
            if (!String.IsNullOrEmpty((string)ViewData["Error"]))
            {
                <p class="box error">@ViewData["Error"]</p>
                <hr />
            }
            
            <div class="ym-fbox-text">
                <label for="Id">Rol No.</label>
                @Html.TextBoxFor(c => c.Id, new { @readonly = "readonly" })
            </div>
            
            <div class="ym-fbox-text">
                <label for="Name">Rol Adı</label>
                @Html.TextBoxFor(c => c.Name)
            </div>
            
            <div class="ym-fbox-text">
                <label for="Description">Rol Açıklaması</label>
                @Html.TextAreaFor(c => c.Description, new { rows = "5" })
            </div>
    
            <div class="ym-fbox-button">
                @Html.ActionLink("Vazgeç ve geri dön", "RoleList", "Account", null, new { Class = "ym-button ym-next" }) 
                <button class="ym-button ym-add">Kaydet</button>
            </div>   
        }        
    </div>
</div>